@{
    Layout = null;
}
@using Passingwind.Blog.Widget.CustomHtml.Models

@model WidgetViewModel


<aside class="widget">
    <h4 class="widget-title">@(Model.Title)</h4>
    <div class="widget-body">
        @Html.Raw(Model.Html)
    </div>
</aside>
