@{
    ViewBag.Title = "Page Edit";
}
@model PageViewModel



<div class="page-header">
    <h1>Page Edit</h1>
</div>

<form  asp-action="edit">

    @Html.Partial("_CreateOrEdit")

</form>

@section scripts{

   @Html.Partial("_Editor", new Tuple<string, string>("Content", Model.Content))

}