@model ExternalLoginViewModel
@{
}
<section>


    @if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
        <h4>Use another service to log in.</h4>
        <hr />

        <form id="external-account" asp-action="ExternalLogin" asp-route-returnUrl="@(ViewData["ReturnUrl"])" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    }
</section>
