@{
	Layout = null;
}

@if (User.Identity.IsAuthenticated)
{
	<aside class="widget">
		<h2 class="widget-title">Administration</h2>
		<div class="widget-text">
			<ul class="widget-link-list">
				<li><a href="~/admin/">Admin</a></li>
				<li><a asp-controller="Users" asp-action="profile">My profile</a></li>
				<li><a asp-area="" asp-controller="account" asp-action="changepassword">Change Password</a></li>
				<li><a asp-route="Logout">Log Out</a></li>
			</ul>
		</div>
	</aside>
}
