
<aside class="widget">
    <div class="widget-search">
        <div class="search">
            <input type="search" placeholder="Search ... " class="search-field">
        </div>
        <div class="search-option">
            <label><input type="radio"> Search with Bing</label>
            <label><input type="radio"> Search all blogs</label>
        </div>
    </div>
</aside>