@{
}


<aside class="widget">
    <h2 class="widget-title">Link List </h2>
    <div class="widget-text">
        <ul class="widget-link-list">
            <li><a href="http://asp.net" target="_blank">asp.net</a></li>
        </ul>
    </div>
</aside>