@{
    ViewBag.Title = "Categoty Edit";
}
@model CategoryViewModel



<div class="page-header">
    <h1>Categoty Edit</h1>
</div>

<form  asp-action="edit">

    @Html.Partial("_CreateOrEdit")

</form>