@inject BasicSettings basicSettings

<p>
	Copyright © @DateTime.Now.Year. Power by <a href="https://github.com/jxnkwlp">Passingwind</a>. <a href="//beian.miit.gov.cn/" rel="nofollow">@basicSettings.IcpNumber </a> <a href="~/sitemap">sitemap</a>, build by asp.net core 3.1.
</p>
