<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Kreon:400,700" rel="stylesheet" />
	<environment names="Development">
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
	</environment>
	<environment names="Staging, Production">
		<link rel="stylesheet"
			  href="//cdn.bootcss.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet"
			  href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
			  asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/account.min.css" asp-append-version="true" />
	</environment>

</head>
<body class="login-page register-page">

	@RenderBody()

	<environment names="Development">
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
		<script src="~/js/account.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"
				asp-fallback-src="~/lib/jquery/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="//cdn.bootcss.com/bootstrap/3.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="~/js/account.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("scripts", required: false)
</body>
</html>
