@{
    ViewData["Title"] = "Error 404";
}

<section class="error-404 not-found">
    <header class="page-header">
        <h1 class="page-title">We’re sorry, but we can’t find the page you’re looking for.</h1>
    </header>
</section>