@using Newtonsoft.Json;
@{
    StatusMessageViewModel model = null;
    if (!string.IsNullOrWhiteSpace((string)TempData["StatusMessage"]))
    {
        model = JsonConvert.DeserializeObject<StatusMessageViewModel>((string)TempData["StatusMessage"]);
    }
}

@if (model != null)
{
    var statusMessageClass = !model.Success ? "danger" : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @(model.Message)
    </div>
}
