@{
    ViewData["Title"] = "Locked out";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<hr />
<div class="alert alert-danger">
    This account has been locked out, please try again later.
</div>
